<p-card header="{{ item.name }}" subheader="" [style]="{ width: '300px' }">
  <ng-template pTemplate="header" p-Tooltip="click for details">
    <img
      alt="Card"
      class="hover-pointer"
      src="{{ item.url }}"
      (click)="navigateTo('product-details/' + item.id)"
    />
  </ng-template>
  @if (isSpecificRoute('product-details/:id')) {
    <p>
      {{ item.description }}
    </p>
  }
  <ng-template pTemplate="subheader">
    <div style="font-weight: bold">
      {{ item.price | currency: 'USD' }}
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-dropdown
      [options]="quantities"
      [(ngModel)]="selectedQuantity"
      [showClear]="isSpecificRoute('shopping-cart')"
      placeholder="Select a quantity"
      (onChange)="onQuantityChange(item)"
    ></p-dropdown>
    @if (!isSpecificRoute('shopping-cart')) {
      <p-button
        label="Add to Cart"
        icon="pi pi-cart-plus"
        [outlined]="true"
        [rounded]="true"
        (click)="addToCart(item)"
      ></p-button>
      <span style="margin-left: 5px">
        <p-button
          label=""
          [rounded]="true"
          [outlined]="true"
          severity="warning"
          icon="pi pi-cart-plus"
          (click)="navigateTo('shopping-cart')"
        ></p-button>
      </span>
    }
    @if (isSpecificRoute('product-details/:id')) {
      <p-button
        label="Product List"
        icon=""
        [outlined]="true"
        [rounded]="true"
        (click)="navigateTo('')"
      ></p-button>
    }
  </ng-template>
</p-card>
