<p-card
  header="{{ item.name }}"
  subheader="{{ item.price }}"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ item.url }}" />
  </ng-template>
  <p>
    {{ item.description }}
  </p>
  <ng-template pTemplate="footer">
    <p-dropdown
      [options]="quantities"
      [(ngModel)]="selectedQuantity"
      [showClear]="true"
      placeholder="Select a quantity"
    ></p-dropdown>
    <p-button
      label="Add to Cart"
      icon="pi pi-cart-plus"
      (click)="addToCart(item)"
    ></p-button>
  </ng-template>
</p-card>
